/* Arthur Lockman */

:root {
    /*Color theme from https://color.adobe.com/%E6%88%91%E7%9A%84-Color-%E4%B8%BB%E9%A1%8C-color-theme-8832728/*/
    --theme-darkblue: #020331;
    --theme-purple: #40087F;
    --theme-pink: #FFB0B5;
    --theme-blue: #88E8D9;
    --theme-green: #52ED62;
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: var(--theme-darkblue);
    font-variant: small-caps;
    margin-top: 80px;
}

h2 {
    font-family: 'Oswald', sans-serif;
    color: var(--theme-purple);
    font-variant: small-caps;
}

body {
    font-family: 'Raleway', sans-serif;
}

th, td {
    padding: 6px;
    border: 1px solid slategray;
    text-align: center;
}

.emphasized-list {
    font-weight: bold;
    font-style: italic;
}

.table-header {
    font-family: 'Oswald', sans-serif;
    font-variant: small-caps;
    font-size: 14pt;
    color: var(--theme-purple);
}

.table-content {
    font-size: 12pt;
    color: slategray;
}

.very-important {
    color: var(--theme-blue);
}

.pull-quote {
    color: var(--theme-green);
    font-family: 'Oswald', sans-serif;
    font-variant: small-caps;
    font-size: 16pt;
}

.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

#main-image {
    float: right;
}

img:hover {
    box-shadow: 5px 5px 5px darkgray;
}

#para2 {
    text-align: center;
}

#main-image {
    width: 30%;
    margin: 10px;
}

/* Adapted from http://www.w3schools.com/css/css_navbar.asp */
#navbar-list {
    list-style-type: none;
    background-color: var(--theme-darkblue);
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#navbar-list li {
    float: left;
}

#navbar-list li a {
    display: block;
    color: var(--theme-pink);
    padding: 20px 20px;
}

#navbar-list a:hover {
    background-color: var(--theme-purple);
}